node_modules/
.venv/
plugin/vendor/
plugin/licenses/
plugin/kernel.js
plugin/emoji.js
plugin/*-[0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f].*
plugin/assets.json
dist/
.runtime/
LICENSE
